@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font: var(--font-body);
}

body {
  background: #D0C88E;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Arcade';
  src: url('/fonts/Arcade.ttf');
  font-weight: 400;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/fonts/TitilliumWeb-Regular.ttf');
  font-weight: 400;
  font-style: medium;
  font-display: swap;
}

:root {
  --font-size: 16px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;


  --font-h1: normal normal var(--font-weight-bold) 3rem Arcade;
  --font-h2: normal normal var(--font-weight-bold) 2.5rem Arcade;
  --font-h3: normal normal var(--font-weight-bold) 2.1rem Arcade;
  --font-h4: normal normal var(--font-weight-bold) 2rem TitilliumWeb;
  --font-body: normal normal var(--font-weight-normal) 1rem TitilliumWeb;

  --primary-color: #EDAE49;
  --secondary-color: #A5C882;
  --dark-green-color: #3C6E71;


  font: var(--font-body);

}
